/* CSS */

.mensaje-aficionado {
    color: white;
    font-size: 20px;
    text-align: left;
}

#mensaje {
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 15px;
}

.mensaje-caja {
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50px;
    left: 30px;
    width: 500px;
}

.mensaje-caja h2 {
    color: white;
    padding-bottom: 15px;
}

.boton-aficionado {
    background: #004996;
    border-color: #004996;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 0.5s;  
}
    
.boton-aficionado:hover {
    background: #003c7c;
}

.mensaje-caja-label {
    display: block;
    padding: 10px 0;
    color: white;
}

.mensaje-caja input {
    padding: 5px;
    border: none
}

.mensaje-caja input:focus-visible {
    outline: none;
    border: none;
}

/*COMPRA DE ENTRADAS*/

.entradas-lista {
    padding: 15px;
}

.entradas-lista h2 {
    padding-bottom: 10px;
}

.carrito-entradas {
    border-left: 1px solid #004996;
    padding: 15px;
}
.entrada {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid black;
}
.entrada h3 {
    color: rgb(139, 139, 139);
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.id-entrada {
    position: absolute;
    top: 20px;
    right: 60px;
}

.id-entrada::before {
    content: "id: ";
}

.datos-entrada {
    padding-bottom: 5px;
    font-size: 14px;
    margin-bottom: 0;
}

.precio-entrada {
    position: absolute;
    font-size: 30px;
    color: #004996;
    font-weight: bold;
    bottom: 7px;
    right: 60px;
    margin-bottom: 0;
}

.precio-entrada::after {
    content: " €";
}

.selectEntradas {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectEntradas, .cantidad {
    padding: 10px;
}

.cantidad {
    width: 120px;
}

/*carrito*/

.entrada-carro .entrada {
    padding: 0;
    padding-top: 10px;
}

.precio-carrito {
    position: absolute;
    bottom: 14px;
    margin-bottom: 0;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.precio-carrito::after {
    content: " €";
}

.boton-cerrar {
    position: absolute;
    top: 13px;
    right: 15px;
}

.cantidadEntrada::before {
    content: "Cantidad: ";
}

.botonCompra {
    padding-top: 15px;
}

.botonCompra button {
    border: none;
}

.precioTotal {
    padding-top: 10px;
}

.precioTotal p {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.compraExito {
    padding: 10px;
    background-color: rgb(36, 163, 36);
    margin: 15px;
    height: 0;
    overflow: hidden;
    transition: 1s;
    display: none;
}

.compraExito h3 {
    color: white;
    font-size: 20px;
    text-align: center;
}

/*luis*/

 
.titulo-aficionados{
    text-align: left;
    padding-right: 9%;
    padding-bottom: 20px;
}
.subtitulo {
    font-size: 150%;
    padding: 30%;
}

.madrid-principal{
    padding-bottom: 20px;
    position: relative;
}

.containerTabla {
    padding: 10%;
}

.carnetfans{
    float: left;
    width: 50%;
    padding-bottom: 5%;
    padding-top: 5%;
    
}

.ventajas-carnet {
    font-size: 170%;
    text-align: center;
}

.titulo-ventajas {
    font-size: 250%;
    text-align: center;
}

.imagen-camiseta{
   
    border:black 3px solid;
    width: 30%;
}
    .imagen-camiseta2{
        border:black 3px solid;
        
        width: 30%;
   
}
.prueba {
    
     display: block;
margin: auto;
    text-align: center;
    
}
.comprobador-tallas {
    font-size: 150%;
    text-align: center;
    border: black 1px solid;
}
.titulo-comprobador{
    font-size:200%;
    text-align: center;
}

.titulo-equipación{
    font-size: 250%;
    text-align: center;
}

.titulo-partidos{
    text-align: center;
    font-size: 300%;
}

.fecha-partidos{
    text-align: center;
    font-size: 200%;
    padding-bottom: 10%;
}

.foto-campo{
    width: 40%;
    float: right;
   
}

.ventajas-carnet-lista{
    font-size: 150%;
   text-align: center;
   padding-bottom: 10%;
 
}