/* CSS */

.cuerpo-sorteo {
    padding-bottom: 50px;
}

h1  {
    text-align: center;
}

p   {
    text-align: center;
}

.camiseta {
    padding-bottom: 20px;
}

.camiseta img {
    display: block;
    margin: auto;
}

.boton-sorteo {
    margin-top: 15px;
    background: #004996;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    display: block;
    margin: auto;
    transition: 0.5s;  
}

.boton-sorteo:hover {
    background: #003c7c;
}

/*Input*/

.formulario-sorteo {
    padding: 20px 0;
}

.formulario-sorteo-input {
    width: 350px;
    margin: auto;
    display: block;
}


#resultado-sorteo {
    padding-top: 20px;
}
