/* CSS */

* {
	padding: 0;
	margin: 0;
}


a, a:hover {text-decoration: none;}
li {list-style: none;}
ul {margin-bottom: 0; padding-left: 0;}
img, video {max-width: 100%; height: auto;}
body {font-family: "Segoe UI",Arial,sans-serif;}


/*header movil*/

.container {
    padding-left: 0;
    padding-right: 0;
}

.cabecera {
    border-bottom: 1px solid grey;
    position: relative;
}

.cabecera-logo {
    padding: 15px 5px;
}

.logo a img {
    width: 50px;
}
.logotipo {display: none;}

/*menu movil*/

.menu-burguer {
    position: absolute;
    top: 28px;
    right: 23px;
    width: 30px;
}
.menu-burguer div {
    background: rgb(73, 73, 73);
    height: 3px;
    margin-bottom: 4px;
}
.side-bar-buscador-icono {
    padding: 15px;
    position: relative;
}
.side-bar-buscador-icono img {
    width: 15px;
    position: absolute;
    right: 20px;
    top: 30px;
    color: white;
}

.side-bar-buscador-input input[type=text] {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    color: grey;
}

.side-bar-buscador-input input[type=text]:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.side-bar-menu {
    background: #222;
    padding-top: 40px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    transition: 0.3;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    color: white;
  }

/*elimina la barra de scroll*/
.side-bar-menu::-webkit-scrollbar {
    display: none;
}

.side-bar-menu-nav-element, .side-bar-menu-rigth-element {
    padding: 15px;
    border-bottom: 1px solid grey;
}

.side-bar-menu-nav-element a {
    text-transform: uppercase;
    color: grey;
    display: block;
}

.side-bar-menu-rigth-element a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    display: block;
}

.side-bar-menu-top {
    padding: 10px 0;
    background: black;
}

.side-bar-menu-top-element {
    padding: 10px;
}

.side-bar-menu-top-element a {
    text-transform: uppercase;
    color: white;
    display: block;
}

/*hidden menu desktop*/
.menu {display: none;}

/*HOME*/

.noticia-principal {
    position: relative;
}

.noticia-block {
    position: absolute;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    padding: 20px;
    width: 100%;
}

.noticia-texto {
    text-transform: uppercase;
    color: white;
    text-align: left;
}

.titulo-home {
    text-align: left;
}

.titulo-home a {
    color: white;
}

.partido-titulo {
    text-align: center;
}

.partido {
    padding: 20px 10px;
    background-color: rgb(180, 179, 179);
    border-right-color: black;
    margin-top: 20px;
}

#logo_partido1 div img {
    border-right: 1px solid black;
    float: right;
}

.publi {
    padding: 20px 0;
}

.btn-sorteo {
    margin-top: 15px;
    background: #004996;
    border: none;
    transition: 0.5s;
    width: 100%;
}

.btn-sorteo:hover {
    background: #003c7c;
}

.btn-sorteo a {
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    display: block;
}

.titulo-noticia {
    font-size: 20px;
    padding-top: 10px;
}

.noticia-contenedor p {
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: left;
}

/*/////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////TABLETS/////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

@media screen and (min-width:768px) {

}/*Fin tablet*/


/*/////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////ESCRITORIO//////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

@media screen and (min-width:1024px) {

    .cabecera {
        border-bottom: none;
    }

    /*menu escritorio*/
.side-bar-menu, .menu-burguer {
    display: none;
}

.menu, .logotipo {
    display: initial;
}

.logotipo a {
    position: absolute;
    left: 60px;
    top: 23px;
    font-size: 25px;
    color: #004996;
}

.logotipo span {
    font-weight: bold;
}

.menu-nav li, .menu-right li, .menu-top li {
    display: inline-block;
}

.menu-nav li a, .menu-right li a, .menu-top li a {
    font-size: 13px;
}

.menu-nav li a {
    padding: 15px;
    color: grey;
    text-transform: uppercase;
}

.menu-nav li a:first-child {
    padding-left: 0px;
}

.menu-right {
    float: right;
    margin-top: -24px;
    padding-right: 30px;
}

.menu-right li {
    border-right: 1px solid grey;
}

.menu-right li a {
    padding: 15px;
    color:#004996;
    text-transform: uppercase;
}

.buscador-icono {
    padding-top: 15px;
}

.buscador-search {
    width: 15px;
    position: absolute;
    right: 0;
    top: 85px;
}

.menu-top {
    position: absolute;
    top: 10px;
    right: 0;
}

.menu-top li {
    border-right: 1px solid grey;
}

.menu-top li a {
    padding: 0 10px;
    color:grey;
    text-transform: uppercase;
    font-size: 12px;
}

.buscador-input {
    background-color: #cecece;
    padding: 30px 50px;
    transition: 0.3s;
    display: none;
}

.buscador-input input[type=text] {
    width: 100%;
    border: none;
    padding: 15px;
    color: grey;
    background-color: white;
    font-size: 20px;
}

.buscador-input input[type=text]:focus-visible {
    border: none;
    outline: none;
}

}/*Fin escritorio*/